#tiresult {
  background-color: #fff;
  text-align: center;
}

#tiresult:hover {
  background-color: rgb(18, 17, 17);
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}
